<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LeHibouAssurance.com{% endblock %}</title>

        <link rel="shortcut icon" href="../public/assets/images/Logo.png">

        <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">

        <!-- Custom styles for our template -->
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-theme.css') }}" >
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/accueil.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <div class="navbar navbar-inverse navbar-fixed-top headroom" >
        <div class="container">

            <!-- Burger menu -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href=""><img src="{{ asset('assets/images/Logo.png') }}" alt="logo Hibou Assurances"></a>
            </div>
            <!----------------->
            <!-- Logo + titre : LeHibouAssurance.com -->
            <div class="nomAssurance"><h1>LeHibouAssurance.com</h1></div>
            <!----------------------------------------->
            <!-- Menu -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <!-- Accueil -->
                    <li class="active"><a href="">Accueil</a></li>
                    <!------------>
                    <!-- Nos Formules -->
                    <li><a href="">Nos formules</a></li>
                    <!------------------>
                    <!-- Contact -->
                    <li><a href="">Contact</a></li>
                    <!------------->
                    <!-- Espace Assuré -->
                    <li><a class="btn" href="">Accédez à votre espace assuré</a></li>
                    <!------------------->
                    <!--<li class = zoom> <a class= "image" href="./Tchat2/minichat.php" title= "Une question ?"><img src="assets/images/picto_tchat.png" alt="LOGO MESSAGE" /></a>-->
                    <!-- Tchat -->
                    <!-- Logo tchat -->
                    <li class="zoom image"> <img src="{{ asset('assets/images/picto_tchat.png') }}" alt="LOGO MESSAGE" /> </li>
                    <!---------------->
                    <div class="chat-popup" id="myForm">
                        <!-------------------------------------------------------------------------------------->
                    </div>
                    <!---------------->
                </ul>
            </div><!-- Menu -->
        </div><!-- Container -->
    </div> <!-- /.navbar -->


    <!-- Header -->
    <header id="head">
        <div class="container">

            <div class="row align-items-center" >


                    <!-- 	<section class="row">
                            <div class="pub"><img src="assets/images/pub/pub1.gif" alt="pub"></div>
                        </section> -->

                    <div class="col">
                        <h1 class="lead">ASSURANCE AUTO</h1>
                        <p class="slogan">Assurez-vous chez le Hibou !</p>

                        <img id="voiture" src="{{ asset('assets/images/voiture_vecto.png') }}" alt="picto voiture">
                        <p> <a class="btn btn-action btn-lg" role="button" href ="">Je calcule mon devis</a></p>
                    </div>

            </div>
        </div>
    </header>
    <!-- /Header -->

    <!-- Intro -->
    <div class="container text-center">
        <br> <br>
        <h2 class="thin">Qui sommes-nous ?</h2>
        <p class="text-muted">
            Le Hibou dolor sit amet, consectetur adipiscing elit.
            Vivamus fermentum neque et dui tempor pretium. Vivamus vitae ornare orci. Ut tincidunt odio lacus,
            eget efficitur lectus imperdiet et. Aliquam laoreet placerat massa, eget pellentesque leo feugiat sed.
            Mauris vel dui non massa pretium pharetra in id tellus. In finibus, velit ut sagittis sollicitudin,
            nisl dolor tincidunt justo, ut mattis velit tellus in enim. Donec id consectetur neque.
            Nulla eleifend luctus elit eu interdum. Nam faucibus nisl non libero pretium, eu aliquet massa rhoncus.
            In pretium neque eros, sed elementum urna mattis in. Sed sollicitudin euismod metus at dapibus. In hac
            habitasse platea dictumst. Phasellus magna neque, laoreet nec justo id, volutpat euismod nulla.
            Suspendisse sed tortor nec nunc aliquam tincidunt. Aliquam congue tempus massa vel tempus.
            </br>
            Mauris nisi ligula, consequat sed faucibus eget, commodo congue magna.
        </p>
    </div>
    <!-- /Intro-->

    <!-- Highlights - jumbotron -->
    <div class="jumbotron top-space">
        <div class="container">

            <h3 class="text-center thin">Pourquoi assurer votre voiture </br> avec le Hibou Assurance ?</h3>

            <div class="row">
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>Des garanties pour assurer votre automobile</h4></div>
                    <div class="h-body text-center">
                        <p>Assurer son véhicule est à la fois essentiel et obligatoire. Les accidents n’arrivent pas toujours qu’aux autres.
                            Alors, victime ou responsable, l’assurance auto vous permet de circuler en toute tranquillité, dès le premier kilomètre parcouru.
                            Du Tiers Simple au Tous Risques Maxi, le Hibou Assurance vous propose le choix parmi plusieurs formules de garanties
                            pour assurer votre automobile.
                            En ligne ou par téléphone, nos conseillers vous conseillent en quelques minutes seulement pour assurer votre véhicule
                            à moindre frais.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Fat-free</h4></div>
                    <div class="h-body text-center">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, commodi, sequi quis ad fugit omnis cumque a libero error nesciunt molestiae repellat quos perferendis numquam quibusdam rerum repellendus laboriosam reprehenderit! </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>Creative Commons</h4></div>
                    <div class="h-body text-center">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, vitae, perferendis, perspiciatis nobis voluptate quod illum soluta minima ipsam ratione quia numquam eveniet eum reprehenderit dolorem dicta nesciunt corporis?</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Author's support</h4></div>
                    <div class="h-body text-center">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, excepturi, maiores, dolorem quasi reprehenderit illo accusamus nulla minima repudiandae quas ducimus reiciendis odio sequi atque temporibus facere corporis eos expedita? </p>
                    </div>
                </div>
            </div> <!-- /row  -->

        </div>
    </div>
    <!-- /Highlights -->

    <section id="social">
        <div class="container">
            <div class="wrapper clearfix">
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style">
                    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                    <a class="addthis_button_tweet"></a>
                    <a class="addthis_button_linkedin_counter"></a>
                    <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                </div>
                <!-- AddThis Button END -->
            </div>
        </div>
    </section>
    <!-- /social links -->


    <footer id="footer" class="top-space">

        <div class="footer1">
            <div class="container">
                <div class="row">

                    <div class="col-md-3 widget">
                        <h3 class="widget-title">Contact</h3>
                        <div class="widget-body">
                            <p>+234 23 9873237<br>
                                <a href="mailto:#">contact@lehibouassurance.fr</a><br>
                                <br>
                                42 Wallaby Way SYDNEY NSW 2000
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3 widget">
                        <h3 class="widget-title">Suivez-nous</h3>
                        <div class="widget-body">
                            <p class="follow-me-icons">
                                <a href=""><i class="fa fa-twitter fa-2"></i></a>
                                <a href=""><i class="fa fa-facebook fa-2"></i></a>
                            </p>
                        </div>
                    </div>



                </div> <!-- /row of widgets -->
            </div>
        </div>

        <div class="footer2">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 widget">
                        <div class="widget-body">
                            <p class="simplenav">
                                <a href="">Accueil</a> |
                                <a href="">Nos formules</a> |
                                <a href="">Contact</a> |
                                <a href="">Accéder à votre espace assuré</a> |

                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 widget">
                        <div class="widget-body">
                            <p class="text-right">
                                Copyright &copy; 2014, Céline JACQUET. Designed by <a href="http://gettemplate.com/" rel="designer">gettemplate</a>
                            </p>
                        </div>
                    </div>

                </div> <!-- /row of widgets -->
            </div>
        </div>

    </footer>


    {% block body %} {% endblock %}
       <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="{{ asset('assets/js/animation.js') }}"></script>



    {% block javascripts %}{% endblock %}
    </body>
</html>
